aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.8.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
coloredlogs==15.0.1
cryptography==44.0.0
eval_type_backport==0.2.2
flatbuffers==25.1.24
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
humanfriendly==10.0
idna==3.10
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
langchain-core==0.3.33
langchain-unstructured==0.1.6
langsmith==0.3.3
mpmath==1.3.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
numpy==2.2.2
onnxruntime==1.19.2
orjson==3.10.15
packaging==24.2
protobuf==5.29.3
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pypdf==5.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
six==1.17.0
sniffio==1.3.1
sympy==1.13.3
tenacity==9.0.0
typing-inspect==0.9.0
typing_extensions==4.12.2
unstructured-client==0.29.0
urllib3==2.3.0
zstandard==0.23.0
